* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: #fafafa;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;

    margin-bottom: 50px;

}

.phone {
    background-image: url(/src/Background-Instagram.png);
    width: 420px;
    height: 581px;
    margin-right: 32px;
}

.instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 25px;
    background-color: #ffff;

    height: 350px;
    width: 350px;

    padding: 50px;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
}

.perfil {
    width: 86px;
    height: 86px;
    border-radius: 50%;
}

.continuar {
    bottom: unset;
    background-color: #0094f6;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #ffffff;

    height: 32px;
    width: 207px;
}

.remover {
    color: #0094f6;
}

.trocar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    border: 1px solid #dbdbdb;
    width: 350px;
    height: 70px;

    margin-bottom: 10px;
}

.trocar_link {
    color: #0094f6;
}

.obter-app {
    height: 40px;
    width: 136px;
}

.obtenha-app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p {
    font-weight: lighter;
    margin-bottom: 10px;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 650px;
    text-align: center;
}

.link-footer {
    color: #8e8e8e;
    font-size: 12px;
    line-height: 16px;
    margin: 5px;
    font-weight: lighter;
}

.footer_nav-row {
    display: flex;
    margin-top: 10px;
}

a,
button {
    cursor: pointer;
}

@media (max-width: 870px) {
    .instagram {
        width: 90%;
    }

    .phone {
        display: none;
    }
}